body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#03A9FA, #E91E63);
  background-attachment:fixed;
  overflow:scroll;
  height: 100vh;
  background-color: none;
  /* font-family: 'Khula', sans-serif; */
  /* font-family: 'Aleo', serif; */
  font-family: 'Rubik', sans-serif;
}

header {
  background-color: none;
  width:90%;
  margin: 0 auto;
  height:70px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  /* box-shadow: 0 0 5px grey; */
}

header h1 {
  font-family: 'Pacifico', cursive;
  color: white;
  text-shadow: 0 0 4px black;

  background-color: none;
  font-size: 34px;
  font-weight: 700;
}

header select {
}

#featured-div {
  background-color: none;
  background-repeat:no-repeat;
  background-size: auto;
  background-position: center;
  width:90%;
  margin: 0 auto;
  /* height: 500px; */
  height: 30rem;
  display: flex;
  align-items: flex-end;
  box-shadow: -10px 25px 50px rgba(0,0,0,.2);
  z-index: 2;
}

#featured-div:hover {
  box-shadow: -20px 50px 100px rgba(0,0,0,.5);
  cursor: pointer;
}

#featured-div h1 {
  font-size: 80px;
  width: 100%;
  text-align: right;
  color: white;
  text-shadow: 0 0 5px black;
  background-color: rgba(0,0,0,.3);
  margin: 0;
  padding: 20px;
}

#media-view-container {
  background-color: rgba(255,255,255,.2);
}

#media-view-div {
  width:90%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: flex-start;
  overflow:auto;
  transition: 1s;
}

.media-box {
  /* background: linear-gradient(#FFC107, #E91E63); */
  background-color: rgba(0,0,0,.8);
  box-shadow: -10px 25px 50px rgba(0,0,0,.2);
  /* box-shadow: 0 0 5px grey; */
  box-sizing: border-box;
  min-width: 200px;
  height: 300px;
  background-size: cover;
  background-position: center;
  /* border: 1px solid black; */
  margin-right: 20px;
  /* margin-bottom: 20px; */
  display: flex;
  justify-content: flex-end;
  flex-direction:column;
  color: white;
  transition: 1s;
}

.media-box:hover {
  box-shadow: -20px 50px 100px rgba(0,0,0,.5);
  cursor: pointer;
}

.media-box h2 {
  background-color: rgba(0,0,0,.8);
  color: white;
  height: 12%;
  line-height: 36px;
  padding-left: 10px;
}

.media-box h2 span {
  font-size: 12px;
  margin-left: 4px;
}

.media-box p {
  padding-left: 10px;
}

#inner-container {
  display: block;
  height: 0;
  font-size: 0;
  background-color: rgba(0,0,0,.8);
  position: relative;
  transition: 1s;
}

#item-like {
  display: none;
}

.media-box:hover #inner-container {
  height: 88%;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 12px;
}

.media-box:hover h2 {
  border-radius: 0 100px 0 0;
  transition: 3s;
}

.media-box:hover p {
  margin-bottom: 5px;
  /* font-size: 12px; */
}

.media-box:hover #item-like {
  display: inline;
  background-color: black;
  border: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12%;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
}

.media-box:hover #item-like:hover {
  background-color: rgba(255,255,255,.1);
}

#splashscreen {
  /* background-image: url('./logo.png'); */
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100vh;
  background-color: none;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #4d76af;
  overflow: none;
}

#splashscreen h1 {
  margin: 0;
  padding: 0;
  font-size: 100px;
  font-family: 'Pacifico', cursive;
  color: white;
  text-shadow: 0 0 5px black;

}

#login {
  background-color: rgba(0,0,0,0);
  color: white;
  width: 100px;
  margin: 0;
  border: none;
  border-bottom:2px solid white;
  transition: 1s;
  padding: 20px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
}

#login:hover {
  border-bottom: 2px solid lightgreen;
  color: lightgreen;
  width: 400px;
  transition: 1s;
}

.red {
  color: red;
}

.green {
  color: lightgreen;
}

.blue {
  color: lightblue;
}

.orange {
  color: orange;
}

.move {
  position: relative;
  bottom: 3px;
}
